html {
	min-height: 100%;
}

body {
	padding-top: 20%;
	font-family: 'Raleway', sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(45deg, #1e5799 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #1e5799 0%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #1e5799 0%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.input-container {
	margin-bottom: 10px;
}

.my-btn {
	background: rgba(255, 255, 255, 0.2);
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}

.my-btn:hover {
	background: rgba(255, 255, 255, 0.4);
}

label {
	color: #fff;
}
